.navbar{
    height:70px;
    background-color: #0356af;
    display:flex;
    justify-content: center;
}

.navContainer{
    width:100%;
    max-width: 1290px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo{
    font-family: 'Consolas', serif;
    font-size: 40px;
}

.NavLink{
    margin-left: 20px;
    background: #1e1e1e;
    border: 1px #2c89d9;
    padding: 5px 10px;
    border-radius: 23px;
    cursor: pointer;
    color: #2c89d9;
}

